@font-face {
	font-family: AlternateGotNo2D;
	src: url(../fonts/AlternateGotNo2D.ttf);
}

.img-rounded {
  border-radius:100%;
  width:100px;
}

.body {
  height:1000px;
  background-color:#EFEDEE;
  padding-top:100px;
}

.container.body {
  background-color:#EFEDEE;
  height:1000px;
}

.img-left-big {
  width:100%;
}

.img-left-small {
  width:50%;
  transform:translate(120%,-80%);
  position:relative;
}

.my-pad {
  padding-left:5px;
  padding-right:5px;
}

.learn-more {
  background-color:Transparent;
  padding:5px 25px 5px 25px;
  border-radius:22px;
  border-color:white;
  position:relative;
  top:0px;
  left:0px;
}

@media (max-width: 1200px) {
  .img-rounded {
    width:82px;
  }
}

@media (max-width: 768px) {
  .col-6.hide-col {
    display:none;
  }
}

.pad-small {
  padding-top:15px;
  padding-bottom:15px;
}

@media (max-width: 1024px) {
  .pad-small {
    padding-top:5px;
    padding-bottom:5px;
  }
}

@media (max-width: 768px) {
  .pad-small {
    padding:20px;
  }
}

@media (max-width: 1024px) {
  .discription-list {
    position:relative !important;
    margin:0px !important;
    right:0px !important;
    left:0px !important;
    top:0px !important;
    bottom:0px !important;
    width:auto !important;
    height:auto !important;
  }
}

.jumbotron {
  padding:2rem 1rem;
  margin-bottom:2rem;
  background-color:#e9ecef;
  border-radius:0px !important;
}

.custom-button-red {
  z-index:2;
  background-color:#E01D3B;
  padding:7px 20px 7px 20px;
  border-radius:20px;
  border:1px;
  border-style:solid;
  cursor:pointer;
  font-size:17px;
  color:white;
}

.custom-font {
  font-family:"AlternateGotNo2D" !important;
}

.custom-button-white {
  z-index:2;
  padding:10px 20px 10px 20px;
  border-radius:20px;
  border:1px;
  border-style:solid;
  cursor:pointer;
  font-size:19px;
  color:white;
  /*background-color:white;*/
  text-shadow:2px 2px #000000;
}

@media (max-width: 992px) {
  .custom-mini-fix {
    margin-top:100px !important;
  }
}

@media (max-width: 992px) {
  .fix-small {
    margin-top:100px !important;
  }
}

@media (max-width: 767px) {
  .earphones-li {
    display:none;
  }
}

@media (max-width: 767px) {
  .speakers-li {
    background-image:url("../../assets/img/speakers-li.jpg");
    padding:35px;
    font-size:26px;
    margin-top:10px;
  }
}

@media (max-width: 767px) {
  .stories-li {
    background-image:url("../../assets/img/stories-li.jpg");
    padding:35px;
    margin-top:10px;
  }
}

@media (max-width: 767px) {
  .support-li {
    background-image:url("../../assets/img/support-li.jpg");
    padding:35px;
    margin-top:10px;
    margin-bottom:10px;
  }
}

@media (max-width: 767px) {
  .headphones-li {
    display:none;
  }
}

@media (max-width: 767px) {
  .products-li {
    background-image:url("../../assets/img/headphones-li.jpg");
    display:block !important;
    padding:35px;
    margin-top:20px;
  }
}

